$cb_light: #FFFFFF;
$cb_port: #1F2154;
$cb_silver: #bcbcbc;
$cb_mountain: #1fad96;
$cb_texas: #febc4d;
$cb_gray: #6c6c6c;
$cb_mandy: #e25a6d;
$cb_royal: #7355e7;
$cb_thunderbird: #cc1b17;
$cb_dodger: #1f9efb;
$md_rhino: #293259;
$md_hint: #f6f3f6;
$md_coral: #a65e6d;
$md_gray: #9da1aa;
$md_anzac: #e2a957;
$mt_marguerite: #6a5ad0;
$mt_shandy: #9b999b;
$mt_jungle: #27ab94;
$mt_corduroy: #616865;
$mt_ronchi: #efb056;
$bg_grey: #F5F7FA;